!!!
%html
    %body
        =yield
        %form(action="/" method="POST")
            %label(for="url")
            %input(type="text" name="url" id="url" accesskey="s")
            %input(type="submit" value="Shorten")